#
# Rename to c9-proxy.properties
#

c9.management.apiKey = <API_KEY>
c9.management.apiSecret = <API_SECRET>
c9.management.apiRoot = https://...

c9.cti.apiKey = <API_KEY>
c9.cti.apiSecret = <API_SECRET>
c9.cti.apiRoot = wss://...

sbe.apiRoot = https://<POD>.symphony.com
